{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Bienvenue sur le Dashboard</h1>

    <div class="mt-4">
        <p>Statistiques, graphiques, totaux, etc.</p>
    </div>
{% endblock %}
