{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link 
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h1 class="mb-4">Bienvenue sur le Dashboard</h1>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon text-bg-primary shadow-sm">
                        <i class="bi bi-gear-fill"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Sisa an-tanana 2024</span></br>
                        <span class="info-box-number">10 <small>%</small></span>
                    </div>
                </div>
            </div>
            {% set totalTypeNiditra = 0 %}
            {% set totalTypeNivoaka = 0 %}
            {% for type in totalParType %}
                {% if type.typeJournal == 0 %}
                    {% set totalTypeNiditra = totalTypeNiditra + type.totalMontant %}
                {% elseif type.typeJournal == 1 %}
                    {% set totalTypeNivoaka = totalTypeNivoaka + type.totalMontant %}
                {% endif %}
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon text-bg-primary shadow-sm">
                        <i class="bi bi-gear-fill"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">
                        {% if type.typeJournal == 0 %}
                            Vola niditra
                        {% elseif type.typeJournal == 1 %}
                            Vola nivoaka
                        {% endif %}
                        </span></br>
                        <span class="info-box-number">{{(type.totalMontant/100)|number_format(2, ',', ' ')}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% set solde = totalTypeNiditra - totalTypeNivoaka %}
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon text-bg-primary shadow-sm">
                        <i class="bi bi-gear-fill"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">Sisa an-tanana 2025</span></br>
                        <span class="info-box-number">{{(solde/100)|number_format(2, ',', ' ')}}</span>
                    </div>
                </div>
            </div>
            <!-- autres box -->
        </div>
    </div>
{% endblock %}
