{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block page_actions %}
    {{ parent() }}

    {# Total Montant juste sous le bouton "Add Journal" #}
    {% set total = 0 %}
    {% for entity in entities %}
        {% set total = total + entity.instance.montant %}
    {% endfor %}

    <div style="margin-top:10px; text-align:right; font-weight:bold;">
        Montant total : {{ total|number_format(2, ',', ' ') }} MGA
    </div>
{% endblock %}

